{% extends 'base.html' %}
{% block head_title %}Blog List|{{ block.super }}{% endblock head_title %}
{% block body %}
    <style>
        body {
            background-color: lavender;
        }

        .list-group a.list-group-item:hover {
            background-color: #1b8dbb;
        }
    </style>
<div style="float:right">
    <form>
        <input type="text" size="80"id='word' name="word" onkeyup="find()" style="width:250px">

    </form>
    <div id="suggestions" style="text-align: left;">

    </div>
</div>
<br><br>



<script type="text/javascript">


    $(document).ready(function(){
        $('#word').on('keyup', function(e){
           var word=e.target.value;
           console.log(word)
           if(word.length>1){
               callAjax(word, function(data){
<!--                 console.log(data);-->
                 renderSuggestions(data);
               });
           };
        });
    });
    function choose(word){
        $('#word').val(word);
        $('#suggestions').empty();
    }
    function renderSuggestions(data){
        $('#suggestions').empty();
        data.forEach(function(word,index){
            //console.log(word,index);
            $('#suggestions').append("<div onClick=\"choose('"+word+"');\">"+word+"</div>");
        });
    }
    function callAjax(word, resp){
        $.ajax({
             url: "/search/",
             data: { word: word },
             type: "GET",
             success: function(data) {
                resp(data.data);
                console.log(data.data)
             }
          });
    }
</script>


<div class="container" style="text-allign:center">
    <h2 style="text-align:center">Blogs </h2>
        {% for post in object_list %}

          <div class="col-11 col-lg-7 ml-auto mr-auto order-3">
              <div class="card-body">
                    <h5 class="card-title" style="font-size:40px"><b>{{post.title}}</b></a>
                        <h6 class="card-subtitle mb-2 text-muted">Author: {{post.author}}</h6>
                    </h5>
                    <p class="card-text" style="font-family: 'Lora'">{{post.content}}</p>
              </div>
          </div>
        {% endfor %}
</div>
<div style="margin-top:150px; margin-left:400px">
    {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}

</div>



{% endblock %}