<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %} <title>Modista Blog</title> {% endblock title %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

</head>

{% block css %}
{% endblock %}

    <body>
    {% include 'snippets/header.html' %}

    <div class="container">
        <div class="row">
            {% block body %}
            {% endblock %}

        </div>
    </div>


    {% include 'snippets/footer.html' %}
    {% block js %}
    {% endblock %}


    </body>
    <script type="text/javascript">
    var token="";
    function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
    }

    $('#suggestions').hide();

    $(document).ready(function(){
        $('#search').on('keyup',function(e){
            var search=e.target.value;
            console.log(search);
            token=getCookie('token');
            if(search.length>1){
               callAjax(search, function(data){
                 renderSuggestions(data);
               });
            }
            else if(search.length==0){
                $('#suggestions').empty();
                $('#suggestions').hide();
            }
        });
    });
    // while choosing an suggestion
    function choose(search){
        $('#search').val(search);
        $('#suggestions').empty();
        $('#suggestions').hide();
    }

    // rendering suggestion in UI
    function renderSuggestions(data){
        $('#suggestions').empty();
        $('#suggestions').show();
        data.forEach(function(line,index){
            //console.log(line,index);
            $('#suggestions').append("<div onClick=\"choose('"+line.title+"');\">"+line.title+"</div>");
        });
    }

    function callAjax(search, resp){
        $.ajax({
             url: "/blog/search/",
             data: { q: search },
             type: "GET",
             headers: {
                'Authorization': 'JWT '+token
             },
             success: function(data, textStatus, request) {
                 // on success response
                resp(data);
             },
             error: function(request, textStatus, errorThrown){
                 // if there is response error
                if(request.status==401){
                    var cnf=confirm("Your session expired. Do you want to logout ?");
                    if(cnf){
                        document.location.href="/logout/";
                    }
                }
                // console.log(request.status);
             }
          });
    }
    </script>

</html>